body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    font-size: 43px;
    font-weight: lighter;
    line-height: 100%;
    line-height: 50px;
    margin-top: 39px;
    margin-left: 124px;
    margin-right: 87px;
}


/*__________________Main style________________*/

.main {
    max-width: 1080px;
    margin-left: 124px;
}


/*__________________Bar style________________*/

.bar {
    display: flex;
    margin: 0;
    box-sizing: border-box;
}


/*__________________Penny style________________*/

.penny {
    order: 1;
}

img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 172px;
    height: 172px;
}


/*__________________About style________________*/

.about {
    order: 2;
    padding: 0;
    width: 300px;
}


/*__________________price style________________*/

.price {
    order: 3;
    flex-basis: 30%;
}

li {
    list-style: none;
    padding: 0;
    margin-left: 0;
}

td {
    font-size: 16px;
}